In [1]:
import numpy as py

x = float(0)
y = float(0)
ys = 1

while ys:
    ys = input("digite um número ou <ENTER>: ")
    if ys:
        y = y + 1
        x = ( x + float(ys) )
    
print(x / y)

digite um número ou <ENTER>:  3
digite um número ou <ENTER>:  5
digite um número ou <ENTER>:

4.0

In [7]:
import math
print(math.log(1/2))

-0.6931471805599453

In [4]:
n1 = input("Digite n1")

n1 = float(n1)

n2 = input("Digite n2")

n2 = float(n2)

med = (n1 + n2) / 2

print(f"A média de {n1} e {n2} é {med}")

Digite n1 20
Digite n2 10

A média de 20.0 e 10.0 é 15.0

In [124]:
km = 0.0
l = 0.0
autonomia = 0.0

km = input("km")
km = float(km)
l = input("l")
l = float(l)
autonomia = km / l

print(f"o carro andou {km} km com {l} litros e teve uma autonomia de {autonomia} km/l")

km 300
l 50

o carro andou 300.0 km com 50.0 litros e teve uma autonomia de 6.0 km/l

In [126]:
valor = 0.0
macos = 0.0
anos = 0.0
custo = 0.0

custo = input("custo")
macos = input("macos")
anos = input("anos")

custo = float(custo)
macos = float(macos)
anos = float(anos)

bisexto = anos // 4

inflacao = 1.01 ** (anos * 6)

valor = macos * custo * anos * 365 + macos * custo * anos * bisexto
valor = valor * inflacao
valor

custo 10
macos 1
anos 2

8225.82271996338

In [25]:
bisexto

2.0

In [27]:
infla = 1.01 ** 12

In [30]:
infla

1.8166966985640907

In [31]:
valor = valor * infla

In [32]:
valor

200018.30651190638

In [172]:
quantia = 1
ced100 = -1
ced50 = -1
ced20 = -1
ced10 = -1

problema = 0

if not ced50:
    problema = 1
    if not ced10:
        problema = 3
elif not ced10:
    problema = 2
else:
    problema = 0

while quantia % 10:
    quantia = input("quantia")
    quantia = float(quantia)
    
    if problema == 3:
        if (quantia % 20):
            print("Valor não possivel")
            quantia = 1
            continue
    
    if (problema == 2 and quantia < 50):
        print("Valor não possivel")
        quantia = 1
        continue

if (ced100 and quantia >= 100 and problema == 0):
    ced100 = quantia // 100
    quantia = quantia % 100

if (problema == 2 and quantia >=50):
    quantia = quantia - 50
    ced50 = 1
elif ced50:
    ced50 = quantia // 50
    quantia = quantia % 50
else:
    ced50 = 0

if (ced100 and quantia >= 100):
    ced100 = quantia // 100
    quantia = quantia % 100

if ced100 < 0:
    ced100 = 0

if (ced20 and quantia >= 20):
    ced20 = quantia // 20
    quantia = quantia % 20
else:
    ced20 = 0

if ced10:
    ced10 = quantia // 10
else:
    ced10 = 0
    
print(f"100 - {ced100}  50 - {ced50}  20 - {ced20}  10 - {ced10}  ")

quantia 210

100 - 2.0  50 - 0.0  20 - 0  10 - 1.0

In [159]:
ced100

0

In [61]:
valor = 45
print(f"Conteudo = {valor} \t| Tipo = {type(valor)}")

Conteudo = 45 	| Tipo = <class 'int'>

In [52]:
valor

45

In [53]:
valor = int(valor)
print(f"Conteudo = {valor} \t| Tipo = {type(valor)}")

Conteudo = 45 	| Tipo = <class 'int'>

In [59]:
valor = 45.3453

In [60]:
valor = float(valor)
print(f"Conteudo = {valor} \t| Tipo = {type(valor)}")
print(f"Conteudo = {valor:.0f} \t| Tipo = {type(valor)}")

Conteudo = 45.3453 	| Tipo = <class 'float'>
Conteudo = 45 	| Tipo = <class 'float'>

In [62]:
valor = str(valor)
print(f"Conteudo = {valor} \t| Tipo = {type(valor)}")

Conteudo = 45 	| Tipo = <class 'str'>

In [65]:
valor = 45
valor = bool(valor)
print(f"Conteudo = {valor} \t| Tipo = {type(valor)}")

Conteudo = True 	| Tipo = <class 'bool'>

In [67]:
# FORMATAÇÕES DO PRINT
nome = "Luiz"
idade = 57
salario = 3000
print("----- Forma 1 - Separando com vírgulas")
print(nome, idade, salario)
print("----- Forma 2 - Separando com vírgulas")
print("Nome: ", nome, "Idade: ", idade, "Salario:", salario)
print("----- Forma 3 - Separando com vírgulas | quebrando a linha")
print("Nome: ", nome, "\nIdade: ", idade, "\nSalario:", salario) # O \n força a mudança de linha

----- Forma 1 - Separando com vírgulas
Luiz 57 3000
----- Forma 2 - Separando com vírgulas
Nome:  Luiz Idade:  57 Salario: 3000
----- Forma 3 - Separando com vírgulas | quebrando a linha
Nome:  Luiz
Idade:  57
Salario: 3000

In [72]:
print(f"Nome: {nome} \n\nIdade: {idade} \n\nSalario: {salario}")

Nome: Luiz

Idade: 57

Salario: 3000

In [74]:
print("Nome: {} Idade: {} Salario: {}".format(nome, idade, salario))

print("Nome: {n} Idade: {i} Salario: {s} ".format(n = nome, i = idade, s = salario))

print(f"Nome: {nome} Idade: {idade} Salario: {salario}")

Nome: Luiz Idade: 57 Salario: 3000
Nome: Luiz Idade: 57 Salario: 3000
Nome: Luiz Idade: 57 Salario: 3000

In [82]:
# Forma 8 - utilizando o print'f'
idade = 57
print(f"Nome.......: {nome} \nIdade......: {idade:<5d} \nSalario....: R$ {salario:.2f}") 
valor1 = 45.93838
valor2 = 234.1
valor3 = 234244.0
valor4 = 2

print("\nExtrato:")
print(f"Valor 1: R$ {valor1:10.2f}")
print(f"Valor 2: R$ {valor2:10.2f}")
print(f"Valor 3: R$ {valor3:10.2f}")
print(f"Valor 4: R$ {valor4:10.2f}")

Nome.......: Luiz
Idade......: 57
Salario....: R$ 3000.00

Extrato:
Valor 1: R$      45.94
Valor 2: R$     234.10
Valor 3: R$  234244.00
Valor 4: R$       2.00

In [85]:
print(f"""
    Extrato:
    R$ {valor1:10.2f}
    R$ {valor2:10.2f}
    R$ {valor3:10.2f}
    R$ {valor4:10.2f}
""")

    Extrato:
    R$      45.94
    R$     234.10
    R$  234244.00
    R$       2.00

In [97]:
valor = 140

if valor % 10:
    print("não é multiplo de 10")

if valor % 20:
    print("não é multiplo de 20")

In [112]:
valor = input()
elevado = input()
valor = float(valor)
elevado = float(elevado)
x = valor ** elevado

 45
 45

In [115]:
print(f"{x:.0f}")

248063644451341166494904932117536038627489494122437750596140370320953442304

In [114]:
x

2.4806364445134117e+74

In [118]:
valor = input()
multiplo = input()
valor = float(valor)
multiplo = float(multiplo)
x = valor * multiplo
x

 345
 123

42435.0

In [123]:
import numpy as py

x = float(0)
y = float(0)
ys = 1

while ys:
    ys = input("digite um número ou <ENTER>: ")
    if ys:
        y = y + 1
        x = ( x + float(ys) )
    
print(x)
print(y)
print(x / y)

digite um número ou <ENTER>:  4
digite um número ou <ENTER>:  5
digite um número ou <ENTER>:  6
digite um número ou <ENTER>:  7
digite um número ou <ENTER>:

22.0
4.0
5.5