In [9]:
import numpy as np
import pandas as pd
from datetime import datetime

In [42]:
tabela = [
    {"nome": "Alice", "idade": 30, "cidade": "São Paulo"}, 
    {"nome": "Bob", "idade": 25, "cidade": "Rio de Janeiro"}, 
    {"nome": "Charlie", "idade": 35, "cidade": "Curitiba"}
]

In [43]:
tabela

[{'nome': 'Alice', 'idade': 30, 'cidade': 'São Paulo'},
 {'nome': 'Bob', 'idade': 25, 'cidade': 'Rio de Janeiro'},
 {'nome': 'Charlie', 'idade': 35, 'cidade': 'Curitiba'}]

In [44]:
tabela[0]["nome"]

'Alice'

In [45]:
novo_registro = {"nome": "Diana", "idade": 28, "cidade": "Brasília"}
tabela.append(novo_registro)

In [46]:
tabela

[{'nome': 'Alice', 'idade': 30, 'cidade': 'São Paulo'},
 {'nome': 'Bob', 'idade': 25, 'cidade': 'Rio de Janeiro'},
 {'nome': 'Charlie', 'idade': 35, 'cidade': 'Curitiba'},
 {'nome': 'Diana', 'idade': 28, 'cidade': 'Brasília'}]

In [47]:
tabela[1]["idade"] = 26

In [48]:
tabela[1]

{'nome': 'Bob', 'idade': 26, 'cidade': 'Rio de Janeiro'}

In [49]:
for registro in range(len(tabela)):
    print(registro)
    tabela[registro]["idade"] += 1
tabela

0
1
2
3

[{'nome': 'Alice', 'idade': 31, 'cidade': 'São Paulo'},
 {'nome': 'Bob', 'idade': 27, 'cidade': 'Rio de Janeiro'},
 {'nome': 'Charlie', 'idade': 36, 'cidade': 'Curitiba'},
 {'nome': 'Diana', 'idade': 29, 'cidade': 'Brasília'}]

In [53]:
maiores_30 = [registro for registro in tabela if registro["idade"] > 30]
maiores_30

[{'nome': 'Alice', 'idade': 31, 'cidade': 'São Paulo'},
 {'nome': 'Charlie', 'idade': 36, 'cidade': 'Curitiba'}]

In [85]:
try:
    numero = int(input("Digite um número: ")) 
    resultado = 10 / numero 
    
except ValueError:
    print("Digitar um numero válido")
    
except ZeroDivisionError:
    print("Não é possível dividir por zero.")
    
else:
    print(f"Resultado: {reg}")
    
finally:
    print("Execução finalizada.")

Digite um número: 0
Não é possível dividir por zero.
Execução finalizada.

In [88]:
try:
    numero = int(input("Digite um número: ")) 
    reg = tabela[numero]
    
except IndexError:
    print("Registro inválido")
     
else:
    print(reg)
    
finally:
    print("Execução finalizada.")

Digite um número: 0
{'nome': 'Alice', 'idade': 31, 'cidade': 'São Paulo'}
Execução finalizada.

In [95]:
# Manipulação de Arquivos Texto

In [211]:
# Abrindo um arquivo para leitura
arquivo = open('exemplo.txt', 'w')

In [212]:
arquivo.close()

In [113]:
arquivo = open('exemplo.txt', 'r')

In [114]:
arquivo

In [115]:
conteudo = arquivo.read()

In [116]:
conteudo

'Escrevendo no arquivo.'

In [110]:
arquivo = open('exemplo.txt', 'a')

In [215]:
arquivo.write("comando 1\n")

10

In [216]:
conteudo = arquivo.read()
conteudo

''

In [214]:
arquivo = open('exemplo.txt', 'r+')

In [217]:
arquivo.flush()

In [218]:
conteudo = arquivo.read()

In [219]:
print(conteudo)

In [220]:
conteudo = arquivo.close()

In [226]:
with open('exemplo.txt', 'r') as arquivo: 
    conteudo = arquivo.read() 
    print(conteudo)
    
# Não é necessário fechar o arquivo explicitamente

Primeira linha
Segunda linha
Terceira linha

In [224]:
# Abrindo um arquivo para escrita
with open('exemplo.txt', 'a') as arquivo:
    arquivo.write('Comando 3\n')
    
    # Forçando a gravação dos dados no disco
    arquivo.flush()

    # Agora, os dados estão garantidos no disco

In [274]:
# Abrindo um arquivo para escrita
with open('exemplo.txt', 'w') as arquivo:
    linhas = ['echo comando1', 'ls -l', 'echo comando2', 'cat exemplo.txt']
    
    for item in linhas:
        arquivo.write(item + '\n')

!chmod +x exemplo.txt
!./exemplo.txt

comando1
total 69480
-rw-r--r--    1 luiz  staff    241111  2 Set 07:52 03_Embeddings.ipynb
-rw-r--r--    1 luiz  staff  10922269 14 Ago 23:25 05 - Vanishing Exploding Gradient-Copy1.ipynb
-rw-r--r--    1 luiz  staff     17587 11 Mar 18:43 ATM_Chic.ipynb
drwx------@   4 luiz  staff       128 29 Ago 17:15 Applications
-rw-r--r--    1 luiz  staff     29245  2 Set 09:48 Aula_02092024.ipynb
-rw-r--r--    1 luiz  staff     32641 12 Ago 17:03 Aula_Lista_Tupla_Dict_Set.ipynb
-rw-r--r--@   1 luiz  staff      5120 13 Ago 10:30 Aula_Lista_Tupla_Dict_Set.py
-rw-r--r--    1 luiz  staff     12071 25 Mar 20:14 CP1_FIAP_2024.ipynb
-rw-r--r--    1 luiz  staff      9359  6 Ago 20:16 Caixa_Eletronico_LuizWTvares.ipynb
-rw-r--r--    1 luiz  staff    130669  1 Ago 23:04 Data_Sky.csv
-rw-r--r--    1 luiz  staff    196353  4 Ago 20:03 Data_Sky_Completo.csv
lrwx------+   1 luiz  staff        52  4 Mai  2023 Desktop -> /Users/luiz/Library/CloudStorage/Dropbox/Mac/Desktop
lrwx------+   1 luiz  staff        54  4 Mai  2023 Documents -> /Users/luiz/Library/CloudStorage/Dropbox/Mac/Documents
lrwx------+   1 luiz  staff        54  4 Mai  2023 Downloads -> /Users/luiz/Library/CloudStorage/Dropbox/Mac/Downloads
lrwxr-xr-x    1 luiz  staff        40  4 Mai  2023 Dropbox -> /Users/luiz/Library/CloudStorage/Dropbox
drwxr-xr-x@   5 luiz  staff       160 13 Nov  2023 FIAP
-rw-r--r--    1 luiz  staff     80304 28 Mar 11:37 FIAP EX 01.ipynb
drwx------@ 103 luiz  staff      3296  1 Jul 12:02 Library
-rw-r--r--    1 luiz  staff     50612 12 Ago 09:23 List_Dict.ipynb
-rw-r--r--    1 luiz  staff     10766  8 Ago 06:28 Lista_04_Word2Vec.ipynb
drwx------    5 luiz  staff       160 22 Abr  2022 Movies
drwx------+   8 luiz  staff       256 19 Jul  2022 Music
drwxrwxr-x@  14 luiz  staff       448 10 Ago 18:44 NLPortugues-master
-rw-r--r--    1 luiz  staff    350384 23 Ago 18:51 Navigator_JSON.ipynb
-rw-r--r--    1 luiz  staff    409544 13 Ago 14:51 PI_request_data.json
-rw-r--r--@   1 luiz  staff      3416  1 Set 21:48 PR_Chris.csv
-rw-r--r--    1 luiz  staff     20407  1 Set 21:03 PR_Chris_maior_70.csv
-rw-r--r--@   1 luiz  staff    236341  2 Set 09:40 PR_NEW_CALC.ipynb
drwx------+  16 luiz  staff       512  3 Mar  2023 Pictures
-rw-r--r--    1 luiz  staff     78881 25 Mar 20:14 Print teste.ipynb
drwxr-xr-x    2 luiz  staff        64 29 Set  2023 PubMed
drwxr-xr-x+   4 luiz  staff       128 22 Abr  2022 Public
drwxr-xr-x@   5 luiz  staff       160 13 Mai 16:09 PycharmProjects
-rw-r--r--    1 luiz  staff     78306 12 Ago 06:58 Sky_ML.ipynb
-rw-r--r--    1 luiz  staff        72 23 Ago 12:55 Untitled.ipynb
-rw-r--r--    1 luiz  staff    136103 23 Jul 17:08 Untitled1.ipynb
-rw-r--r--    1 luiz  staff      3343  2 Ago 12:31 Untitled2.ipynb
-rw-r--r--    1 luiz  staff      3652 13 Mai 09:02 Untitled3.ipynb
-rw-r--r--    1 luiz  staff     16387  4 Jun 15:38 Untitled4.ipynb
-rw-r--r--    1 luiz  staff     13082 23 Jul 17:22 Untitled5.ipynb
-rw-r--r--    1 luiz  staff     78306  8 Ago 07:33 Untitled6.ipynb
-rw-r--r--    1 luiz  staff      2096  3 Jun 08:25 Untitled7.ipynb
-rw-r--r--    1 luiz  staff     12715 27 Ago 10:44 Untitled8.ipynb
-rw-r--r--    1 luiz  staff      6043 13 Abr 14:50 Urna_Eletronica.ipynb
drwxrwxr-x@   8 luiz  staff       256 10 Ago 17:12 Word2vec-pt-master
-rw-r--r--@   1 luiz  staff    602445 10 Ago 16:42 Word2vec-pt-master.zip
-rw-r--r--    1 luiz  staff      1580 16 Out  2023 citespace.projects.txt
drwxr-xr-x    3 luiz  staff        96 13 Jun 15:02 data
-rwxr-xr-x    1 luiz  staff        50  2 Set 09:48 exemplo.txt
-rw-r--r--    1 luiz  staff      2909 12 Ago 06:50 get_pipeimob_data.ipynb
-rw-r--r--    1 luiz  staff     84315 12 Ago 17:03 ler_arq_csv.ipynb
drwxr-xr-x    3 luiz  staff        96 14 Ago 23:14 logs
-rw-r--r--    1 luiz  staff    120000 25 Ago 19:42 meta.tsv
drwxr-xr-x    3 luiz  staff        96 24 Jun  2022 opt
drwxr-xr-x    8 luiz  staff       256  3 Jun 08:21 pr
-rw-r--r--    1 luiz  staff    170169  8 Ago 20:38 request_data.json
-rw-r--r--@   1 luiz  staff     90431 29 Ago 18:28 seis_meses_de_strava_chris_calculados.csv
-rw-r--r--@   1 luiz  staff    121811 30 Ago 19:39 strava_chris_1_de_janeiro_2024.csv
-rwxr-xrw-    1 luiz  staff         6 13 Mai 08:17 teste
-rw-r--r--@   1 luiz  staff    285624 23 Ago 08:58 teste2.csv
-rw-r--r--@   1 luiz  staff         0 23 Ago 08:54 teste2.json
-rw-r--r--    1 luiz  staff         0 13 Mai 10:02 untitled.py
-rw-r--r--    1 luiz  staff  20814888 25 Ago 19:42 vecs.tsv
-rw-r--r--    1 luiz  staff      1355 27 Ago 10:45 x.py
drwxr-xr-x    3 luiz  staff        96 21 Jun 10:44 xxxx
lrwxr-xr-x    1 luiz  staff         4 21 Jun 10:43 yyyy -> xxxx
comando2
echo comando1
ls -l
echo comando2
cat exemplo.txt

In [268]:
with open('exemplo.txt', 'r') as arquivo: 
    conteudo = arquivo.readlines() 
    print(conteudo)
    
# Não é necessário fechar o arquivo explicitamente

['Primeira linha\n', 'Segunda linha\n', 'Terceira linha\n']

In [271]:
conteudo

['Primeira linha\n', 'Segunda linha\n', 'Terceira linha\n']

In [272]:
with open('exemplo.txt', 'r') as arquivo: 
    conteudo = arquivo.read() 
    print(conteudo)
    
# Não é necessário fechar o arquivo explicitamente

Primeira linha
Segunda linha
Terceira linha

In [237]:
for x in conteudo:
    print(x)

P
r
i
m
e
i
r
a

l
i
n
h
a


S
e
g
u
n
d
a

l
i
n
h
a


T
e
r
c
e
i
r
a

l
i
n
h
a

In [109]:
try:
    arquivo.write("Escrevendo no arquivo.")
    conteudo = arquivo.read()
    
except IOError:
    print("Erro de escrita")
     
else:
    print(conteudo)
    
finally:
    print("Execução finalizada.")

print("continua")

Erro de escrita
Execução finalizada.
continua

In [11]:
df = pd.DataFrame(tabela)

In [12]:
df

      nome  idade          cidade
0    Alice     30       São Paulo
1      Bob     25  Rio de Janeiro
2  Charlie     35        Curitiba

In [15]:
df.loc[0]["nome"]

'Alice'

In [94]:
try:
    numero = int(input("Digite um número: ")) 
    reg = df.iloc[numero]["nome"]
    
except IndexError:
    print("Digitar um numero válido")
     
else:
    print(reg)
    
finally:
    print("Execução finalizada.")

Digite um número: 10
Digitar um numero válido
Execução finalizada.

In [93]:
xx = df[df['idade'] > 25].reset_index(drop=True)

In [35]:
xx

      nome  idade     cidade
0    Alice     30  São Paulo
1  Charlie     35   Curitiba

In [33]:
df

      nome  idade          cidade
0    Alice     30       São Paulo
1      Bob     25  Rio de Janeiro
2  Charlie     35        Curitiba