In [28]:
tamanho = 8.47826

In [29]:
print("Tamanho = %d cm" % tamanho)

Tamanho = 8 cm

In [30]:
print("Tamanho = %i cm" % tamanho)

Tamanho = 8 cm

In [31]:
print("Tamanho = %f cm" % tamanho)

Tamanho = 8.478260 cm

In [37]:
print("Tamanho = %4.2f cm" % tamanho)

Tamanho = 8.48 cm

In [41]:
print("Tamanho = %.4f cm" % tamanho)

Tamanho = 8.4783 cm

In [42]:
print("Tamanho = %2.10f cm" % tamanho)

Tamanho = 8.4782600000 cm

In [35]:
print("Tamanho = %.10f cm" % tamanho)

Tamanho = 8.4782600000 cm

In [1]:
a=[]
a.append([1,2,3,4,5])
a.append([2,3,4,5,6])

In [8]:
import numpy as py

In [5]:
a

[[1, 2, 3, 4, 5], [2, 3, 4, 5, 6]]

In [6]:
a[0]+a[1]

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [9]:
py.add(a[0], a[1])

array([ 3,  5,  7,  9, 11])

In [11]:
py.subtract(a[0], a[1])

array([-1, -1, -1, -1, -1])

In [12]:
py.subtract(a[0], a[0])

array([0, 0, 0, 0, 0])

In [18]:
x = py.subtract(a[0], a[1])

In [28]:
x

array([-1, -1, -1, -1, -1])

In [29]:
bool(x.all())

True

In [34]:
y = []
y.append([1,1,1,1,0])

In [178]:
y = [1, 2, 3]
x = [1,0,0]

z = py.multiply(x, y)
z

array([1, 0, 0])

In [4]:
x = 1
y = 2

def teste():
    d = 30
    print(d)
    return(d)

print(x)
print(y)
r = teste()
print(r)
print(d)

1
2
30
30

NameError: name 'd' is not defined

In [179]:
z.any()

True

In [170]:
z = py.multiply(y[0], a[1])
z

array([2, 3, 4, 5, 6])

In [171]:
bool(z.any())

True

In [195]:
import numpy as py

valor = -1

nt_val = py.array([200, 100, 50, 20, 10]) # Valor de face das Notas

notas_qtd = py.array([1, 2, 10, 10, 20]) # Quantidade de Notas disponíveis na abertura

achou = 0

# Define Notas

def define_notas(valor, resultado):
    
    valor_roda = valor
    
    for i in range(len(resultado)):
        if resultado[i] < 0:
            if notas_qtd[i] != 0:
                resultado[i] = valor_roda // nt_val[i]
                
                if resultado[i] <= notas_qtd[i]:         
                    valor_roda = valor_roda % nt_val[i]
                else:
                    resultado[i] = notas_qtd[i]
                    valor_roda = valor_roda -  resultado[i] * nt_val[i] 
            else:
                resultado[i] = 0
        else:
            valor_roda = valor_roda - (resultado[i] * nt_val[i])

    return(resultado)

def verifica_total(valor_teste, valor_total):
    soma = 0
    for i in range(len(valor_total)):
        soma = soma + valor_total[i] * nt_val[i]
    
    if soma != valor_teste:
        return(False)
    else:
        return(True)

# INICIO

escolha = []

print("Notas: ", nt_val)
print("Qtd Disponivel: ", notas_qtd)

while valor:
    valor = input("Valor do saque: ")
    valor = float(valor)
    achou = 0
    
    resultado = py.array([-1,-1,-1,-1,-1])

    while resultado.any() and valor:
        volta = define_notas(valor, resultado)
    
        if not verifica_total(valor, volta):
            break
    
        x = py.subtract(notas_qtd, volta)

        tst_qtd = True
        for i in range(len(x)):
            if x[i] < 0:
                tst_qtd = False
                
        if tst_qtd:
            print(f"Opcao: {achou + 1} Valor: {valor} | 200: {volta[0]} | 100: {volta[1]} | 50: {volta[2]} | 20: {volta[3]} | 10: {volta[4]}")
            escolha.append([volta[0],volta[1],volta[2],volta[3],volta[4]])
            achou = achou + 1
        
        conta = 1
        for i in range(len(resultado)):
            if resultado[i] > 0 and conta:
                resultado[i] = resultado[i] - 1
                conta = 0
            elif not (resultado[i] == 0 and conta):
                resultado[i] = -1

    if not achou:
        print(f"O valor solicitado de R$ {valor:.2f} não é possível. \nFavor escolher outro valor.")
        if not valor:
            valor = -1
    else:
        if achou:
            if achou > 1:
                opcao = input("\nEscolha a opçao: ")
                opcao = int(opcao)
            else:
                opcao = 1
                
            if opcao < 0 or opcao > achou:
                print("Opcao inválida, optando pela primeira opcao: ")
                opcao = 0
            else:
                opcao = opcao - 1
                
            print(f"\nValor: {valor} | 200: {escolha[opcao][0]} | 100: {escolha[opcao][1]} | 50: {escolha[opcao][2]} | 20: {escolha[opcao][3]} | 10: {escolha[opcao][4]}")
            notas_qtd = py.subtract(notas_qtd, escolha[opcao])
            print("\nNotas: ", nt_val)
            print("Qtd Disponivel: ", notas_qtd, "\n")
            
    escolha = []
    if not notas_qtd.any():
        print("Caixa Eletrônico sem DINHEIRO")
        break

Notas:  [200 100  50  20  10]
Qtd Disponivel:  [ 1  2 10 10 20]

Valor do saque:  800

Opcao: 1 Valor: 800.0 | 200: 1 | 100: 2 | 50: 8 | 20: 0 | 10: 0
Opcao: 2 Valor: 800.0 | 200: 0 | 100: 2 | 50: 10 | 20: 5 | 10: 0
Opcao: 3 Valor: 800.0 | 200: 0 | 100: 1 | 50: 10 | 20: 10 | 10: 0
Opcao: 4 Valor: 800.0 | 200: 0 | 100: 0 | 50: 10 | 20: 10 | 10: 10
Opcao: 5 Valor: 800.0 | 200: 0 | 100: 0 | 50: 9 | 20: 10 | 10: 15
Opcao: 6 Valor: 800.0 | 200: 0 | 100: 0 | 50: 8 | 20: 10 | 10: 20

Escolha a opçao:  3

Valor: 800.0 | 200: 0 | 100: 1 | 50: 10 | 20: 10 | 10: 0

Notas:  [200 100  50  20  10]
Qtd Disponivel:  [ 1  1  0  0 20]

Valor do saque:  10

Opcao: 1 Valor: 10.0 | 200: 0 | 100: 0 | 50: 0 | 20: 0 | 10: 1

Valor: 10.0 | 200: 0 | 100: 0 | 50: 0 | 20: 0 | 10: 1

Notas:  [200 100  50  20  10]
Qtd Disponivel:  [ 1  1  0  0 19]

Valor do saque:  290

Opcao: 1 Valor: 290.0 | 200: 1 | 100: 0 | 50: 0 | 20: 0 | 10: 9
Opcao: 2 Valor: 290.0 | 200: 0 | 100: 1 | 50: 0 | 20: 0 | 10: 19

Escolha a opçao:  2

Valor: 290.0 | 200: 0 | 100: 1 | 50: 0 | 20: 0 | 10: 19

Notas:  [200 100  50  20  10]
Qtd Disponivel:  [1 0 0 0 0]

Valor do saque:  100

O valor solicitado de R$ 100.00 não é possível.
Favor escolher outro valor.

Valor do saque:  300

O valor solicitado de R$ 300.00 não é possível.
Favor escolher outro valor.

Valor do saque:  200

Opcao: 1 Valor: 200.0 | 200: 1 | 100: 0 | 50: 0 | 20: 0 | 10: 0

Valor: 200.0 | 200: 1 | 100: 0 | 50: 0 | 20: 0 | 10: 0

Notas:  [200 100  50  20  10]
Qtd Disponivel:  [0 0 0 0 0]

Caixa Eletrônico sem DINHEIRO

In [54]:
import json
 
# Opening JSON file
f = open('events_data.json')
 
# returns JSON object as 
# a dictionary
data = json.load(f)

In [55]:
import pandas as pd
from pandas import json_normalize

In [57]:
df = json_normalize(data['MEIA MARATONA DE VILA VELHA'])

In [58]:
df

,name,data,city,url_details,categories.5KM.GERAL FEMININO.name,categories.5KM.GERAL FEMININO.url,categories.5KM.GERAL FEMININO.athletes,categories.5KM.GERAL MASCULINO.name,categories.5KM.GERAL MASCULINO.url,categories.5KM.GERAL MASCULINO.athletes,...,categories.10KM.GERAL MASCULINO.athletes,categories.21KM.GERAL FEMININO.name,categories.21KM.GERAL FEMININO.url,categories.21KM.GERAL FEMININO.athletes,categories.21KM.GERAL MASCULINO.name,categories.21KM.GERAL MASCULINO.url,categories.21KM.GERAL MASCULINO.athletes,categories.21KM.DEFICIENTE MASCULINO.name,categories.21KM.DEFICIENTE MASCULINO.url,categories.21KM.DEFICIENTE MASCULINO.athletes
0,MEIA MARATONA DE VILA VELHA,29/10/2023,Vila Velha - ES,http://www.chiptiming.com.br/resultados/meiavi...,GERAL FEMININO,/resultados/detalhes/2802615619,"[{'highlight_place': '1', 'number': '5229', 'n...",GERAL MASCULINO,/resultados/detalhes/2802615615,"[{'highlight_place': '1', 'number': '5947', 'n...",...,"[{'highlight_place': '1', 'number': '1735', 'n...",GERAL FEMININO,/resultados/detalhes/2802615650,"[{'highlight_place': '1', 'number': '2206', 'n...",GERAL MASCULINO,/resultados/detalhes/2802615640,"[{'highlight_place': '1', 'number': '2639', 'n...",DEFICIENTE MASCULINO,/resultados/detalhes/2802615622,"[{'highlight_place': '1', 'number': '299', 'na..."

In [65]:
df['categories.5KM.GERAL FEMININO.athletes'][0]

AttributeError: 'list' object has no attribute 'head'

In [71]:
dados = df.explode(column='categories.21KM.GERAL MASCULINO.athletes', ignore_index=True)
# dados

In [72]:
dados['categories.21KM.GERAL MASCULINO.athletes'][0]

{'highlight_place': '1',
 'number': '2639',
 'name': 'Tiago Vasconcelos Dos Santos',
 'gender': 'M',
 'age': '36',
 'age_group': 'M3539',
 'team': '-',
 'timing': '01:15:51',
 'liquid_timing': '01:15:47',
 'rhythm': '03:36'}

In [75]:
pd.json_normalize(data=dados['categories.21KM.GERAL MASCULINO.athletes'])

,highlight_place,number,name,gender,age,age_group,team,timing,liquid_timing,rhythm
0,1,2639,Tiago Vasconcelos Dos Santos,M,36,M3539,-,01:15:51,01:15:47,03:36
1,2,2885,Eber Moreira Rodrigues,M,42,M4044,-,01:22:14,01:22:08,03:54
2,3,2686,adilton da conceicao santos,M,50,M5054,-,01:24:09,01:24:03,04:00
3,4,2791,Weverton Rodovalho Da Costa,M,29,M2529,-,01:24:20,01:24:14,04:00
4,5,2863,Alessandro Quirino Ignacio,M,34,M3034,-,01:26:17,01:26:12,04:06
...,...,...,...,...,...,...,...,...,...,...
306,307,2986,Pablo Lobato Ramos,M,46,M4549,43,02:48:54,02:48:36,08:01
307,308,2895,Jayme Teixeira Bessa,M,40,M4044,57,02:50:38,02:49:10,08:03
308,309,23,Jayme Oliveira Hilario,M,39,M3539,70,02:52:40,02:50:42,08:07
309,310,2664,Eberty Dias De Almeida,M,35,M3539,71,02:52:52,02:52:06,08:11
310,311,2799,Jose Weslay Celeste,M,62,M6064,7,02:54:34,02:53:55,08:16

In [73]:
for i in dados['categories.21KM.GERAL MASCULINO.athletes']:
    print(i['highlight_place'], i['name'], i['age'], i['gender'], i['rhythm'], i['liquid_timing'])

1 Tiago Vasconcelos Dos Santos 36 M 03:36 01:15:47
2 Eber Moreira Rodrigues 42 M 03:54 01:22:08
3 adilton da conceicao santos 50 M 04:00 01:24:03
4 Weverton Rodovalho Da Costa 29 M 04:00 01:24:14
5 Alessandro Quirino Ignacio 34 M 04:06 01:26:12
6 Matheus Rosa 27 M 04:08 01:27:02
7 Raphael Carneiro 20 M 04:11 01:28:08
8 Raphael Ambrozini Santos 33 M 04:14 01:29:02
9 Rafael Pereira Pizzani Rodrigues 29 M 04:15 01:29:20
10 Samuel Vergilio De Souza 42 M 04:18 01:30:34
11 Luiz Angelo Mazzocco Marques 35 M 04:23 01:32:04
12 Claudio Fernandes 53 M 04:23 01:32:15
13 Rodrigo Davini 44 M 04:24 01:32:26
14 Gilgleisson Demonel 39 M 04:29 01:34:27
15 Gabriel Temporim Hemerly 25 M 04:30 01:34:45
16 Leonardo Rocha 42 M 04:33 01:35:44
17 Elizeu Nascimento Falcao Goncalves 46 M 04:33 01:35:49
18 Jadisson Ferreira Da Silva 37 M 04:36 01:36:44
19 Humberto Carlos Da Silva 54 M 04:40 01:38:05
20 Wallace Borlot 44 M 04:40 01:38:18
21 Mario Monteiro Vasconcelos 34 M 04:41 01:38:25
22 Mauro Da Conceicao Silva 58 M 04:41 01:38:40
23 Luiz fernando Rosa 35 M 04:43 01:39:03
24 Aldary Nunes 26 M 04:44 01:39:36
25 Luiz Claudio Custodio 50 M 04:44 01:39:40
26 Vitor Ribeiro Vieira 34 M 04:45 01:39:45
27 Felipe Magalhaes Drumond Guerra 37 M 04:45 01:39:57
28 Vitor Costa Maia 23 M 04:46 01:40:13
29 Kenner Correa Ramalhete 35 M 04:46 01:40:24
30 Tiago Freire De Oliveira 43 M 04:47 01:40:36
31 Alex Sandro Santos Rodrigues 47 M 04:47 01:40:38
32 Fabio Ferreira 48 M 04:48 01:41:07
33 Vinicius Moreno Cabral 32 M 04:50 01:41:37
34 Magno Teodoro Silva 52 M 04:50 01:41:46
35 Hugo Vitor Ignacio 65 M 04:50 01:41:50
36 Edimar Moraes Silva 40 M 04:51 01:41:55
37 Bruno Serafin Coelho 33 M 04:51 01:41:55
38 Fernando Gomes Da Silva 33 M 04:53 01:42:38
39 Gilson Rosa Lopes 64 M 04:53 01:42:48
40 Paulo Magno Oliveira Dos Santos 42 M 04:54 01:42:55
41 Erivaldo Santos Soares 56 M 04:54 01:43:01
42 Rafael Correa Ferreira 45 M 04:55 01:43:15
43 Lucas Pereira Antunes De Souza Nacif 32 M 04:55 01:43:24
44 Welinton Da Silva Pereira 46 M 04:56 01:43:47
45 Leoni Dias 33 M 04:56 01:43:54
46 Matheus Cesar De Souza Vieira 22 M 04:58 01:44:26
47 Antonio Gilmar Frigulha 58 M 04:58 01:44:33
48 Christian Hilton Oliveira Rosa 48 M 04:58 01:44:36
49 Daniel De Freitas Luna 37 M 04:58 01:44:38
50 Marco Antonio Sebastiao 56 M 04:59 01:44:39
51 Joao Paulo Gusmao Dos Santos 40 M 04:59 01:44:43
52 Tiago Emerich 41 M 04:59 01:44:56
53 Eduardo Dos Santos Ribeiro 35 M 05:00 01:45:01
54 jhony bazon 37 M 05:00 01:45:13
55 Gileady De Oliveira Silva 44 M 05:00 01:45:20
56 Leobert Morosini 36 M 05:01 01:45:40
57 Rodrigo Alves Tristao 45 M 05:03 01:46:16
58 Luiz Gustavo Ferreira Alves 42 M 05:04 01:46:24
59 Vinicius Pimentel Da Silva 30 M 05:04 01:46:32
60 Erick Perillo Rocha 33 M 05:06 01:47:09
61 Pedro Henrique Del Caro Daher 39 M 05:06 01:47:13
62 Bernardo Vieira Harrigan 37 M 05:06 01:47:15
63 Halim Pavesi Azoury 45 M 05:07 01:47:39
64 Luiz Claudio Costa 52 M 05:07 01:47:42
65 Jocimar Dionisio Ferreira 43 M 05:09 01:48:11
66 Anderson Carlos Goncalves 47 M 05:09 01:48:19
67 Bruno Lyrio Coutinho 24 M 05:10 01:48:46
68 Jocimar Serpa 45 M 05:11 01:49:04
69 Fabio De Sousa Santos Filho 22 M 05:11 01:49:08
70 Fabricio Morais Neves 35 M 05:12 01:49:24
71 Valdeci Dos Santos 55 M 05:12 01:49:31
72 Jhemes Costa Santos 34 M 05:13 01:49:34
73 Diego Ramalhete De moraes 31 M 05:13 01:49:41
74 Filipe De Miranda Netto 36 M 05:14 01:50:04
75 Jhonatan Da Paixao Nascimento 23 M 05:14 01:50:11
76 Humberto Luiz Bezerra Teixeira 35 M 05:14 01:50:12
77 Ryan Maldonado Bernardes 36 M 05:15 01:50:15
78 Victor Jose De Jesus Souza 31 M 05:17 01:51:03
79 Rodrigo Rezende Tatagiba 42 M 05:17 01:51:03
80 Kleberson andrade 42 M 05:17 01:51:06
81 Leonardo rocha fernandes 43 M 05:17 01:51:08
82 Marcelo Caetano Sampaio 44 M 05:17 01:51:11
83 Adriano Ramos Moreira 36 M 05:17 01:51:16
84 Abido Saadi Cerutti 53 M 05:18 01:51:24
85 Felipe Venturim Pansini 27 M 05:18 01:51:26
86 Cayo Vytor Oliveira Do Rozario 22 M 05:18 01:51:26
87 Eduardo Franca Pinheiro Junior 28 M 05:19 01:51:57
88 Filipe Ribeiro Dos Santos 26 M 05:21 01:52:24
89 Douglas Fontoura Giacomin 35 M 05:21 01:52:26
90 Thiago Chaves Rodrigues 33 M 05:21 01:52:27
91 Gabriel Antonio Nassif Marx 29 M 05:21 01:52:31
92 Luiz Carlos De Brito 44 M 05:21 01:52:39
93 Paulo Augusto Costa Mill 29 M 05:21 01:52:39
94 Guilherme Torres 42 M 05:22 01:52:51
95 Vinicius Leon De Almeida Ramos 35 M 05:22 01:52:51
96 Rosival Rodrigues De Araujo 47 M 05:22 01:52:53
97 Alexandre Pereira Francisco 52 M 05:22 01:52:59
98 Renato Batista Faria 53 M 05:23 01:53:12
99 Rogerio Campagnaro 50 M 05:24 01:53:27
100 Alessandro Herzog 43 M 05:24 01:53:35
101 Felipe De Souza Bonella 40 M 05:24 01:53:37
102 Adilson Carlos M Ulhoa 71 M 05:25 01:53:47
103 Patrick Araujo Rosa 40 M 05:25 01:53:48
104 Mario Sergio Lazaroni Valli 38 M 05:25 01:53:50
105 Franklin Delano De Medeiros Gama 54 M 05:25 01:54:00
106 Kendson Figueiredo Berger 39 M 05:27 01:54:28
107 Paulo Henrique Teixeira De Souza 31 M 05:27 01:54:31
108 Leonardo Paiva De Almeida Pacheco 51 M 05:27 01:54:33
109 Gustavo Braga De Oliveira 35 M 05:27 01:54:40
110 Pedro Paulo Salcides Goncalves 29 M 05:28 01:54:54
111 Edson Ribeiro Dos Santos Junior 29 M 05:28 01:55:00
112 Daniel Martins 43 M 05:28 01:55:05
113 Leonardo Tavares Machado 33 M 05:29 01:55:10
114 Igor Casagrande Dos Santos 26 M 05:29 01:55:20
115 Alexandre Borges Pamplona Junior 48 M 05:29 01:55:25
116 Rafael Fregona Pezzin 35 M 05:30 01:55:30
117 Patrick Moraes Braga 34 M 05:30 01:55:35
118 Jandres Da Silva Pereira 48 M 05:30 01:55:36
119 Joao Jose Salles Ramos 57 M 05:30 01:55:41
120 Glalber Da Costa Cypreste Queiroz 40 M 05:31 01:55:57
121 Lucas Belmok Pedrada 29 M 05:31 01:55:57
122 Nelson Hideaki Kato 49 M 05:31 01:56:03
123 Arthur Cordeiro Dos Santos 45 M 05:31 01:56:05
124 Lenildo Viana 70 M 05:32 01:56:14
125 Raphael Mesquita De Abreu 41 M 05:32 01:56:25
126 Valter Rodrigues Vasconcelos 71 M 05:32 01:56:28
127 Ranier Colatto 54 M 05:33 01:56:41
128 Wagner Gomes Pereira 43 M 05:34 01:56:54
129 Francisco Carlos De Carvalho Junior 44 M 05:34 01:56:57
130 Victor Pereira Camargo 27 M 05:34 01:56:58
131 Cristiano Fioresi Andreao 37 M 05:35 01:57:17
132 Romulo Tauffer De Jesus 28 M 05:36 01:57:36
133 Felipe Fabricio Leal 36 M 05:36 01:57:40
134 Fabricio Fernandes Chagas Muniz 35 M 05:36 01:57:42
135 Robson Mendes De Paulo 51 M 05:36 01:57:44
136 Paulo Rodrigo Araujo Carmo 47 M 05:37 01:57:58
137 Fabio Dos Santos Affonso 30 M 05:37 01:58:00
138 Mario Caliari Corteletti 38 M 05:37 01:58:01
139 Matheus Gonchorowski Macedo 24 M 05:37 01:58:04
140 Carlos Vinicius Nascimento Lorenzoni 43 M 05:37 01:58:10
141 Alexandre Anselmo De Moraes 53 M 05:37 01:58:17
142 Claudio Jose Ferreira Pessanha 39 M 05:39 01:58:48
143 victor seibel 26 M 05:40 01:59:00
144 Reinildo Dos Santos Matos 36 M 05:40 01:59:08
145 Bruno Valente Gomes 34 M 05:42 01:59:47
146 Fernando Mendonca 56 M 05:42 01:59:49
147 Caua Christian Alves Rosa 20 M 05:42 01:59:57
148 Nicolai Bachkatoff Neto 36 M 05:42 01:59:59
149 Jairo Leite Da Fonseca 39 M 05:43 02:00:06
150 Ronaldo Alvarenga Alves 45 M 05:43 02:00:06
151 Andre Luiz Alves Daumas 36 M 05:43 02:00:09
152 Joaquim Da Rocha Cavalcanti 41 M 05:43 02:00:10
153 Cristiano Silva 32 M 05:43 02:00:11
154 Josemilson Alcantara 68 M 05:44 02:00:44
155 Jonas Klein Ferreira 31 M 05:45 02:00:45
156 Renato Magalhaes Coelho De Oliveira 34 M 05:45 02:00:50
157 Marcelo Martins Siqueira 51 M 05:45 02:00:55
158 Wanderson Pires 47 M 05:46 02:01:07
159 Paulo Angelo De Oliveira 47 M 05:46 02:01:22
160 Ricardo Marques 52 M 05:47 02:01:40
161 Vitor Adami Martins 38 M 05:47 02:01:40
162 Rodrigo Novaes Gomes 50 M 05:50 02:02:42
163 Heberson Barbosa 39 M 05:50 02:02:47
164 Caio Victor De Almeida 23 M 05:51 02:03:04
165 Fernando Lopes Moreira 46 M 05:51 02:03:06
166 Felipe De Oliveira 35 M 05:51 02:03:11
167 Pabulo Baldo do Nascimento 39 M 05:52 02:03:19
168 Diego Soares Batista 35 M 05:52 02:03:27
169 Anderson Silva Ribeiro 47 M 05:53 02:03:46
170 Vinicius Alcantara Drago 31 M 05:53 02:03:49
171 Ronnie Nunes 46 M 05:54 02:04:02
172 Adenilson Quaresma Da Costa 57 M 05:55 02:04:20
173 Ricardo Tamanini 43 M 05:56 02:04:44
174 Felipe Dos Santos Rodrigues 27 M 05:56 02:04:44
175 Alexandre Ramos Barbosa 50 M 05:57 02:04:59
176 Nerino Marchiore 57 M 05:57 02:05:00
177 Pedro Henrique Aguiar Zamprogno 38 M 05:57 02:05:07
178 Romulo Antonio Coelho Santana 44 M 05:58 02:05:22
179 Rullian Antonio Rella 40 M 05:58 02:05:27
180 Wanderley Pereira Da Rosa 57 M 05:58 02:05:30
181 Antonio Goncalves Viza 76 M 05:58 02:05:38
182 Stenio Ferreira Martins 46 M 05:59 02:05:50
183 Hugo Rocha Galo 37 M 06:00 02:06:17
184 Elton Amancio 42 M 06:01 02:06:22
185 Marcio Garozi 45 M 06:02 02:07:01
186 Renan Ribeiro Guzzo 39 M 06:03 02:07:06
187 Ernandes Silva Dos Santos 42 M 06:03 02:07:23
188 Lucas Pessanha Ribeiro 34 M 06:04 02:07:29
189 Vanderson Batista Soares 50 M 06:04 02:07:36
190 Rodrigo Albani 40 M 06:04 02:07:37
191 Matheus Nunes De Oliveira 26 M 06:04 02:07:37
192 Jeremias Da Costa Honorato 32 M 06:05 02:07:54
193 Samuel Deoteronio Da Silva 42 M 06:05 02:07:56
194 Marcelo Masiole 43 M 06:05 02:07:56
195 Deivid Da Silva Rocha 38 M 06:05 02:07:58
196 Augusto Hilario Passamani 58 M 06:06 02:08:18
197 Woldson Motta 33 M 06:07 02:08:42
198 Rafael Proux Passos Chaves 27 M 06:07 02:08:47
199 Diogo Duarte De Oliveira Junior 36 M 06:08 02:08:55
200 Marcelo Leal Coswosk 42 M 06:08 02:08:56
201 Fabio Barbosa De Sousa 24 M 06:09 02:09:10
202 Vasco Alves De Oliveira Neto 48 M 06:09 02:09:17
203 Victor Oliveira Silva 26 M 06:09 02:09:26
204 Claudio Benvegnu De Medeiros 46 M 06:10 02:09:32
205 Marco Polo Frizera Filho 48 M 06:10 02:09:33
206 Sergio Goncalves Moreira Junior 27 M 06:10 02:09:37
207 Robson Allegretto Scardini 48 M 06:11 02:10:02
208 Francisco Jose Belo Dos Reis 53 M 06:11 02:10:06
209 Carlos Emir Costa Silva 39 M 06:11 02:10:10
210 Laurenildo Francisco Costa 59 M 06:12 02:10:17
211 Jorge Luis Xavier Fernandes 49 M 06:12 02:10:26
212 Thiago Oliveira Hilario 39 M 06:12 02:10:30
213 Claudio Roberto Leite Marques 47 M 06:13 02:10:39
214 Joao Barcellos Sobral Junior 49 M 06:14 02:11:00
215 MARCOS ANTONIO PANDOLFI 46 M 06:14 02:11:08
216 Gemison de Almeida Andrade 49 M 06:14 02:11:11
217 Iuri Galantini Da Paixao 32 M 06:15 02:11:16
218 Lucas Teixeira Santos 34 M 06:15 02:11:24
219 Vinicius Nascimento Laranja 44 M 06:15 02:11:28
220 Lucas Braz Mendes 26 M 06:17 02:12:04
221 Bruno Pimentel Da Silva 37 M 06:17 02:12:11
222 Fernando De Azevedo Monteiro 56 M 06:17 02:12:16
223 Pablo Oscar De Assis 32 M 06:18 02:12:36
224 Allan Favero Secchin 30 M 06:18 02:12:38
225 Willian Coutinho Patricio De Medeiros 47 M 06:19 02:12:55
226 Antonio Osvaldo Curto Machado 50 M 06:20 02:13:06
227 Joao Paulo Rodrigues De Faria Campos 40 M 06:21 02:13:38
228 Matheus Rosseto Marques Colodetti 28 M 06:22 02:13:57
229 Igor Adrian Louback Tristao Vaz 43 M 06:23 02:14:06
230 Francisco Pereira Bastos 39 M 06:26 02:15:06
231 Felipe Teixeira Monteiro 30 M 06:26 02:15:12
232 Andre Taveira 39 M 06:27 02:15:31
233 Benedito Ramalhete 62 M 06:27 02:15:41
234 Gabriel Carvalho Nader 31 M 06:28 02:16:08
235 Eduardo Oliveira Pacheco 32 M 06:29 02:16:09
236 Edivaldo Tonetto 62 M 06:29 02:16:18
237 Vinicius Xavier Mattar De Carvalho 35 M 06:31 02:16:53
238 Alexandre Luiz Bittencourt 41 M 06:31 02:16:56
239 Antonio Carlos Rodrigues Alvarenga Junior 39 M 06:31 02:17:08
240 Socrates Brito 40 M 06:33 02:17:44
241 Alexandre Meira Medici 42 M 06:33 02:17:47
242 Renato De Oliveira Fraga 39 M 06:33 02:17:48
243 Raphael Batista Figueiredo 36 M 06:33 02:17:51
244 Arnaldo Borgo Filho 40 M 06:34 02:18:03
245 Thiago Gomes 36 M 06:34 02:18:05
246 Gabriel Souza Belletti 28 M 06:34 02:18:08
247 THIAGO ABREU 21 M 06:34 02:18:09
248 Vinicius Zanoteli Teles 23 M 06:34 02:18:09
249 Rubens Azevedo Rodrigues 40 M 06:34 02:18:13
250 Rene Pereira Cavalcante Calvi 44 M 06:35 02:18:21
251 Diego Fernandes Coutinho 36 M 06:35 02:18:31
252 Luiz Nemer Neto 36 M 06:36 02:18:39
253 Alessandro Marques 52 M 06:36 02:18:55
254 Diogo Santos Zardo 38 M 06:37 02:19:06
255 Israel Silva Dias 34 M 06:37 02:19:12
256 Jose Walfrido Monteiro Junior 41 M 06:38 02:19:28
257 Marcial Jorge Vieira 63 M 06:40 02:20:13
258 Krystian Siqueira Botelho 29 M 06:41 02:20:26
259 Braulio Campos 37 M 06:41 02:20:27
260 Lucas Caliman Ortiz Guimaraes 37 M 06:43 02:21:06
261 Matheus Mazza Ramiro De Assis Braga 22 M 06:44 02:21:24
262 Brendow Kinderman 20 M 06:44 02:21:27
263 Rodrigo Maia Ribeiro 50 M 06:44 02:21:37
264 Rossy Kristian Pausem Alves 41 M 06:45 02:21:48
265 Leonardo Dias Nascimento 43 M 06:47 02:22:28
266 Diogo Lemos Mesquita 36 M 06:47 02:22:30
267 Victor Cezar Stamato Fernandes 47 M 06:47 02:22:41
268 Antonio Augusto Cabral 59 M 06:48 02:22:48
269 Sergio De Souza Simoes 47 M 06:50 02:23:35
270 Lucas De Oliveira Contini Pereira 28 M 06:50 02:23:50
271 Vinicius Oliveira Gomes Lima 39 M 06:52 02:24:16
272 Luciano Cibien Machado 53 M 06:52 02:24:24
273 Nilton Jose De Almeida Dias 56 M 06:54 02:24:56
274 Daniel Muller 36 M 06:54 02:25:02
275 Maxsuel Marcos Rocha Pereira 58 M 06:55 02:25:27
276 Anderson Goncalves Pereira 44 M 06:57 02:26:13
277 Wesley Maycon Silva 37 M 06:57 02:26:15
278 Joelton Dos Reis 45 M 06:59 02:26:59
279 Patrick Nunes Tononi 43 M 07:01 02:27:32
280 Victor Do Nascimento Zanelato 32 M 07:02 02:28:01
281 Pedro Garcia Monteiro 26 M 07:02 02:28:01
282 Nathan Dias De Oliveira 23 M 07:07 02:29:40
283 Fabio Fraga De Castro 52 M 07:08 02:30:03
284 Vinicius Sousa Elias 35 M 07:09 02:30:28
285 Dimas Da Silva Coelho 68 M 07:12 02:31:18
286 Eduardo Wandekoken 45 M 07:12 02:31:32
287 Solano Holz 42 M 07:13 02:31:52
288 Jose Humberto Costa Freitas 47 M 07:15 02:32:26
289 Julio Paul 66 M 07:17 02:32:58
290 Junior Franca  Gomes 42 M 07:20 02:34:17
291 Andre Dos Santos Pimentel 41 M 07:22 02:34:52
292 Bruno Von Randow 46 M 07:22 02:35:01
293 Maick Machado 35 M 07:24 02:35:38
294 Gleison Pessoa Machado 37 M 07:29 02:37:24
295 Eduardo Sampaio Costa Pinho 38 M 07:32 02:38:12
296 Alvaro Pedro Diodino Junior 41 M 07:40 02:41:02
297 Celso Fernandes Araujo Filho 39 M 07:41 02:41:27
298 Cesar Albuquerque Paes Almeida 42 M 07:43 02:42:15
299 Tiago Albuquerque Paes Almeida 37 M 07:43 02:42:16
300 Gilceu Machado 60 M 07:45 02:42:58
301 Rafael Cavalcanti Do Carmo 35 M 07:49 02:44:24
302 Jose Maria L Soares 63 M 07:51 02:45:01
303 Candido Rodrigues Caldeira 46 M 07:54 02:46:11
304 Ruy Anderson Santos Martins 37 M 07:54 02:46:13
305 Pedro Ramon Guanandy Pereira 22 M 07:55 02:46:25
306 Leonardo Gomes 48 M 07:56 02:46:48
307 Pablo Lobato Ramos 46 M 08:01 02:48:36
308 Jayme Teixeira Bessa 40 M 08:03 02:49:10
309 Jayme Oliveira Hilario 39 M 08:07 02:50:42
310 Eberty Dias De Almeida 35 M 08:11 02:52:06
311 Jose Weslay Celeste 62 M 08:16 02:53:55

In [7]:
import math

In [24]:
def truncar(v, t):
    t = 10 ^ t
    return(int(v * t) / t)

In [28]:
y = 999999.999999999
x = int(y * 100) / 100
print(y, x)
print('{:.2f}'.format(x))

999999.999999999 999999.99
999999.99

In [26]:
y
u = truncar(y, 1)

In [27]:
print (y , u)

999999.99 999999.9090909091

In [85]:
x = 0
while x <= 50:
    x += 1
    i = 1
    conta = 0
    while i <= 50:
        i += 1
        if (x % i == 0):
            conta += 1
        
    if conta == 1:
        print(f"o número {x} é primo")

o número 2 é primo
o número 3 é primo
o número 5 é primo
o número 7 é primo
o número 11 é primo
o número 13 é primo
o número 17 é primo
o número 19 é primo
o número 23 é primo
o número 29 é primo
o número 31 é primo
o número 37 é primo
o número 41 é primo
o número 43 é primo
o número 47 é primo

In [82]:
for x in range(2, 50):
    conta = 0
    for i in range(2, 50):
        if (x % i == 0):
            conta += 1
        
    if conta == 1:
        print(f"o número {x} é primo")

o número 2 é primo
o número 3 é primo
o número 5 é primo
o número 7 é primo
o número 11 é primo
o número 13 é primo
o número 17 é primo
o número 19 é primo
o número 23 é primo
o número 29 é primo
o número 31 é primo
o número 37 é primo
o número 41 é primo
o número 43 é primo
o número 47 é primo

In [77]:
x = int(input("inicio "))
conta = 0

for i in range(2, 1000):
    if (x % i == 0):
        conta += 1
        
if conta == 1:
    print(f"o número {x} é primo")
else:
    print(f"o número {x} não é primo")

inicio  37

o número 37 é primo

In [62]:
x = int(input("inicio "))
y = int(input("final "))

for i in range(x, (y + 1)):
    print(i)

inicio  3
final  8

3
4
5
6
7
8

In [41]:
x = [11, 20, 34, 48, 53]

for i in range(len(x)):
    print(i, x[i])

0 11
1 20
2 34
3 48
4 53

In [47]:
for i in range(3, 9):
    print(i)

3
4
5
6
7
8

In [86]:
x = input("tri ")

tri  1 2 3

In [98]:
x = input("tri ")
tri = []
print(x)
pos = 0
for i in x.split():
    tri.append(int(i))
tri.sort(reverse = True)
print(tri)
if (tri[0] ^ 2) == ((tri[1] ^ 2) + (tri[2] ^ 2)):
    print("triangulo retangulo")

tri  3 4 5

3 4 5
[5, 4, 3]
triangulo retangulo

In [118]:
x = int(input("Taboada: "))
for i in range(1, 11): print(f"{i:2.0f} x {x:2.0f} = {(i * x):2.0f}")

Taboada:  3

 1 x  3 =  3
 2 x  3 =  6
 3 x  3 =  9
 4 x  3 = 12
 5 x  3 = 15
 6 x  3 = 18
 7 x  3 = 21
 8 x  3 = 24
 9 x  3 = 27
10 x  3 = 30

In [101]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [397]:
lado = [float(y) for y in input("Digite os tres lados de um triangulo").split()]

lado.sort(reverse = True)
if (lado[1] + lado[2]) <= lado[0]: print("Não é um Triangulo.")
else:
    if (lado[0] ** 2) == ((lado[1] ** 2) + (lado[2] ** 2)): tipo = "Retangulo"
    elif lado[0] == lado[1] == lado[2]: tipo = "Equilatero"
    elif (lado[0] == lado[1]) or (((lado[1] + lado[2])/2) == lado[2]): tipo = "Isosceles"
    else: tipo = "Escaleno"
    
    print("É um Triangulo", tipo)

Digite os tres lados de um triangulo 3 4 5

É um Triangulo Retangulo

In [375]:
lado = [2, 1, 1]
(lado[0] == lado[1]) or (((lado[1] + lado[2])/2) == lado[2])

True

In [396]:
lado

In [303]:
tipo = "Escaleno"
for i in range(3):
    for j in range((i + 1), 3):
        if lado[i] == lado[j]:
            tipo = "Isosceles"
            break
print(tipo)

Isosceles

In [ ]:
for i in range(3):
    for j in range((i + 1), 3):
        if (lado[i] == lado[j]:
            tipo = "Isosceles"
            break

In [127]:
a = [1, 2, 3]
print(a, a[0], a[1], a[2])
a.append(4)
print(a, a[0], a[1], a[2], a[3])

[1, 2, 3] 1 2 3
[1, 2, 3, 4] 1 2 3 4

In [132]:
x = input("digite os tres lados de um triangulo")

digite os tres lados de um triangulo 34 56 89

In [140]:
print(x, type(x))
x.split()[2]

34 56 89 <class 'str'>

'89'

In [137]:
x[0]

'3'

In [131]:
lado = []

for i in x.split():
    lado.append(int(i))

print(lado)

[]
[3]
[3, 4]
[3, 4, 5]

In [129]:
x

'3 4 5'

In [188]:
nome_completo = input("nome: ")

nome:  Luiz Wanderley Tavares

In [189]:
nome_completo

'Luiz Wanderley Tavares'

In [190]:
no_teste = nome_completo.split()
no_teste

['Luiz', 'Wanderley', 'Tavares']

In [191]:
no_tamanho = len(no_teste)
no_tamanho

3

In [192]:
nome = no_teste[0]
sobrenome = no_teste[(no_tamanho - 1)]

In [193]:
print(nome, sobrenome)

Luiz Tavares

In [194]:
nome_meio = ""
for i in range(no_tamanho):
    if i == 0:
        nome = no_teste[i]
    elif i == (no_tamanho - 1):
        sobrenome = no_teste[i]
    else:
        nome_meio = nome_meio + no_teste[i][0] + " "

print(nome)
print(nome_meio)
print(sobrenome)

Luiz
W
Tavares

In [195]:
no_teste

['Luiz', 'Wanderley', 'Tavares']

In [196]:
a = []
a

[]

In [197]:
a.append(1)
a

[1]

In [198]:
a.append(11)
a

[1, 11]

In [199]:
a[0]

1

In [200]:
a[1]

11

In [202]:
a.append(8)
a[2]

8

In [261]:
a = ['1', '2', '3']
s = a.astype('float64')

AttributeError: 'list' object has no attribute 'astype'

In [206]:
for i in a:
    print(i)

1
11
8

In [267]:
a = "1 2 3"
int(a.split())
a

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [354]:
# digitar os numeros separados por espaço. Exemplo: 6 8 5 9.6 7

n = input("Notas: ").split()
m = (sum([float(x) for x in n])) / len(n)
if m < 6: n = "Reprovado"
else: n = "Aprovado"
print(n, f"com média {m:.1f}")

Notas:  1 2 3

Reprovado com média 2.0

In [279]:
x = input("Notas: ").split()

Notas:  3 4 65

In [280]:
x

['3', '4', '65']

In [287]:
n = input("Números: ").split()
print(f"Média..: {((sum([float(x) for x in n])) / len(n)): .1f}")

Números:  4 5 3

Média..:  4.0

In [393]:
lado1, lado2, lado3 = map(int, input("Digite os três lados separados por espaços: ").split())
if lado1 + lado2 > lado3 and lado1 + lado3 > lado2 and lado2 + lado3 > lado1:
    if lado1 == lado2 == lado3:
        print("Com esses lados o triângulo é EQUILÁTERO")
    elif lado1 == lado2 or lado1 == lado3 or lado2 == lado3:
        print("Com esses lados o triângulo é ISÓCELES")
    else:
        print("Com esses lados o triângulo é ESCALENO")
else:
    print("Não forma um triângulo")

Digite os três lados separados por espaços:  4 1 4

Com esses lados o triângulo é ISÓCELES